{{define "body"}}
    <center class="p-12">
        <a href="/admin"><h1>Bienvenu à GOPIKO</h1></a>
    </center>
    <div class="p-12">
      <div class="d-flex flex-row">
      <div class="p-1">
      <img class="img-fluid imh" src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/c/coffee-talk-switch/Switch_CoffeeTalk_desc_char.png">
      </div>
      <div class="p-2 d-flex flex-column flex-fill">
        <div class="p-2">
            Title
        </div>
        <div class="p-2 flex-fill">
          hello
      </div>
      </div>
      </div>
        </div>
{{end}}